
.blogcard{
    width: 1093px;
height: 396px;
border-radius: 38px;
border: 1px solid rgba(179, 179, 179, 0.18);
background: #FEF7EC;
display: flex;
justify-content: center;
align-items: center;
    width: 1043px;
    height: 306px;
    justify-content: space-between;
box-shadow: 0 4px 17px 0 rgba(175, 161, 142, 0.20);
transition: 0.5s ease;



}
.blogcard:hover{
    background: #1F266D;
}

.forblogpg{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.blogTitle{
    color: #1F266D;
font-family: "Gooper Trial";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0;
}
.blogcard:hover .blogTitle {
  color: white;
}
.forblogpg{
    margin-left: 30px;
}
.blogdes{
    color: #0F133C;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 527px;
margin: 0;
}
.blogcard:hover .blogdes {
  color: white;
}
.w35{
    width: 35%;
}
.blogcard:hover .viewMoreButton2 {
  color: white !important;
}


@media (max-width: 1400px) {
    .blogcard{
           width: 80%;
        gap: 30px;
        overflow: hidden;
    }
    .w35 {
    width: 50%;
}
 .blogdes{
        width: 90%;
 }
}
@media (max-width: 900px) {
    .blogcard{
        flex-direction: column;
        height: auto;
        width: 63%;
    }
    .forblogpg{
        order: 2;
    }
    .w35 {
  /* content: url(../assets/blogtab1.svg); */
          width: 100%;
}
 .blogdes{
        width: 90%;
 }
}
@media (max-width: 600px) {
    .blogcard{
      
        height: auto;
        width: 80%;
    }
  
}