.footer{
    width: 100%;
    height:    50vh;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    /* gap: 40px; */
     position: relative;
    z-index: 2;
    background: #FFF;
    flex-wrap: wrap;
    
 
}
.section1{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footerlogo{
    width: 30%;
}
.section1c{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;

}
.contactText{
     color: #1F266D;
font-family: "Gooper Trial";
font-size: 24px;
font-style: normal;
font-weight: 700;
margin: 0;
line-height: normal;
}
.gitdes{
     color: #1F266D;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 381px;
margin: 0;
}
.forIcons{
      display: flex;
    flex-direction: column;
    gap: 20px;
}
.forIcons2{
      display: flex;
   
    gap: 12px;
}