.heroSection{
    width: 100%;
    height: 100vh;
    background: grey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/heroimg.svg);
    background-repeat: no-repeat;
    background-size: cover;

}
.heroText{
 margin-bottom: 8px;
    color: #FEF8E8;
font-family: "Gooper Trial";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
    margin-top: 80px;
}
.forbuttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.titles{
    text-align: center;
    color: #FEF8E8;
text-align: center;
font-family: "Gooper Trial";
font-size: 42px;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 723px;
 margin-top: 0;
    
}
.hero2{
      position: absolute;
        margin-top: 850px;
    width: 100%;
}