.navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: #FFF;
    height: 80px;
    align-items: center;
    position: fixed;
    z-index: 900;
  

}
.forlinks{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.logo {
    width: 44px;
}