.card {
  display: flex;
  flex-direction: column;
     
  
}
.forpgdes{
    display: flex;
    flex-direction: column;
  margin-top: 20px;
  width: 627px;
}
.projectCategoryTitle{
    color: #1F266D;
font-family: "Gooper Trial";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin: 0;
}
.nameDes{
    color: #1F266D;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
margin-top: 12px;
}
.cardone{
  display: flex;
  flex-direction: column;
      /* margin-right: 50px; */
}
.imgwidth {
    width: 90%;
}
@media (max-width: 1400px) {
  .cardone{
    width: 80%;
  }
  .forpgdes {
   
    width: 96%;}
    .projectCategoryTitle{
font-size: 20px;
    }
    .imgwidth{
      width: 100%;
    }
}