.card {
  display: flex;
  flex-direction: column;
      margin-right: 50px;
  
}
.forpgdes{
    display: flex;
    flex-direction: column;
  margin-top: 20px;
  width: 627px;
}
.projectCategoryTitle{
    color: #1F266D;
font-family: "Gooper Trial";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin: 0;
}
.nameDes{
    color: #1F266D;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
margin-top: 12px;
}
.cardone{
  display: flex;
  flex-direction: column;
      /* margin-right: 50px; */
}
.imgwidth {
    width: 90%;
}