.projectcard1{
 width: 372px;
    height: 436px;
    border-radius: 17.433px;
    display: flex;
    align-items: end;
    transition: ease 0.5s;
    position: relative;
    transition: 0.5 ease;
}
.folder{
   position: absolute;
   z-index: 1;
        margin-left: -18px;
      margin-top: -93px;
          transition: 0.5 ease;

}

.apptitle{
    color: #1F266D;
font-family: "Gooper Trial";
font-size: 24.054px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
 margin-left: 20px;
  position: relative;
    z-index: 10;
        margin-left: 10px;
    
    margin-top: -50px;
}
.appdes{
    overflow: hidden;
color: #1F266D;
 position: relative;
    z-index: 10;
width: 328.54px;
text-overflow: ellipsis;
    width: 360px;
font-family: Poppins;
font-size: 18.041px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 8px;
margin-left: 10px;
}
.projectimgcont{
    position: absolute;
}
.projectcard1:hover .folder{
    content: url(../assets/union2.svg);
}
.projectcard1:hover .apptitle{
    color: white;
}
.projectcard1:hover .appdes{
    color: white;
}
.gradientdetails{
     width: 100%;
   position: absolute;
   z-index: -1;
      margin-top: -930px;
}