.sectionTitle{
    color: #1F266D;
    font-family: "Gooper Trial";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    margin-bottom: 12px;
    text-align: center;
}