.menutabtitle{
 color: #1F266D;
font-family: "Gooper Trial";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.bluemenutabtitle{
        color: #2D39B8;
    text-decoration: underline;
    font-family: "Gooper Trial";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}