.downloadButton{
  display: flex;
width: 199px;
height: 54px;
border-radius: 62px;
border: 1px solid #FFF;
justify-content: center;
align-items: center;
gap: 8px;
transition: 0.5s ease;
}
.buttonText{
    color: #FFF;
font-family: "Gooper Trial";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.downloadButton:hover{
  background:  #FFF;;
}
.downloadButton:hover .buttonText {
  
 color: #2D39B8;
}