.textButton{
    display: flex;
    align-items: center;
    gap: 8px;
   
}
.textButton:hover .bluehover{
   content: url(../assets/bluehover.svg);
   
}
.textclass{
font-family: "Gooper Trial";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
 transition: 0.5s ease;
}
.textclass:hover{
    color: #2D39B8;
}