.forall{
    width: 100%;
    height: auto;
    padding: 140px 0px 100px 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.into2{
    color: #1F266D;
font-family: "Gooper Trial";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0;
margin-bottom: 12px;
width: 75%;
}
.pgfaq{
    color: #1F266D;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 1415px;
margin: 0;
width: 75%;

}
.styleDIV{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.into3{
        color: #1F266D;
font-family: "poppins";
font-size: 20px;
font-style: normal;
font-weight: 700;
margin: 0;
line-height: normal;
margin-bottom: 8px;
width: 75%;

}
.forqada{
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}
.faqcont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}
.fqcont{
   display: flex;
    flex-direction: column;
    justify-content: center;
        gap: 20px;

}
.blofTitle{
     color: #1F266D;
font-family: "Gooper Trial";
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0;
margin-bottom: 40px;
text-align: center;
}
.first5{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.toc{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
        width: 75%;
        padding: 40px 0px;
}
.foralltoc{
     display: flex;
     gap: 100px;
}
.numbercont2{
    display: flex;
width: 48px;
height: 47px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #2D39B8;
transition: 0.3s ease;
}
.numbercont2:hover{
     transform: scale(1.1);
}
.numbertext{
    color: #FAF5F5;
text-align: center;
font-family: "Gooper Trial";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.into{
    color: #1F266D;
font-family: "Gooper Trial";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0;
}
.numberwithcontent{
    display: flex;
    align-items: center;
    gap: 20px;
}
.toc2{
    color: #1F266D;
font-family: "Gooper Trial";
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.style2{
    margin-left: 215px;
}




@media (max-width: 1400px){
    .blogimgwidth {
        width: 75%;
    }
    .blofTitle{
font-size: 28px;
}
     .style2 {
    margin-left: 20%;
}
    
}
@media (max-width: 600px){

.blofTitle{
font-size: 24px;
}
  .blogimgwidth {
        width: 85%;
    }
    .pgfaq{
        width: 85%;
    }
    .into2{
        width: 85%;
    }
    .style2 {
    margin-left: 37px;
}
.into3{
      width: 85%;
}
.toc{
      width: 85%;
}
}