.forall{
    width: 100%;
    height: auto;
    padding: 140px 0px 100px 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.into2{
    color: #1F266D;
font-family: "Gooper Trial";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0;
margin-bottom: 12px;
}
.pgfaq{
    color: #1F266D;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 1415px;
margin: 0;

}
.into3{
        color: #1F266D;
font-family: "poppins";
font-size: 20px;
font-style: normal;
font-weight: 700;
margin: 0;
line-height: normal;
margin-bottom: 8px;
}
.forqada{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.faqcont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}
.fqcont{
   display: flex;
    flex-direction: column;
    justify-content: center;
        gap: 20px;

}
.blofTitle{
     color: #1F266D;
font-family: "Gooper Trial";
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0;
margin-bottom: 40px;
}