
.bigcontcont{
    display: flex;
 width: 100%;
 height: 100vh;
 justify-content: center;
 align-items: center;
 background-image: url(../assets/subscriptionbg.svg);
 background-size: cover;
 background-repeat: no-repeat;
 
}
.contacttitkle{
    color: #1F266D;
font-family: "Gooper Trial";
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0;
}
.contactDetailsdiv{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.iconwtext1{
    display: flex;
    gap: 8px;
    /* justify-content: center; */
    align-items: center;
}
.iconswtexts{
    
display: flex;
    flex-direction: column;
      gap: 20px;
}
.nameinput{
    display: flex;
width: 270px;
height: 64px;
width: 258px;

align-items: center;
gap: 10px;
border-radius: 14px;
border: 1px solid #acb5c66b;
}
.contactForm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
height: 592px;
border-radius: 20px;
background: #FAF5F5;
    margin-top: 80px;
    gap: 60px;
    
}
.radientbg{
    position: absolute;
    z-index: -1;
    width: 100%;
    
   
    
}
.info{
  color: #0F133C;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;  
}
.twoinputs{
    display: flex;
    gap: 20px;
}
.p2{
    padding-bottom: 80px;
    width: 561px;
}
.submitButton{
    display: flex;
width: 581px;
    height: 54px;

justify-content: center;
align-items: center;

flex-shrink: 0;
border-radius: 40px;
background: #2D39B8;
}
.inputDivholder{
    display: flex
;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.longerwidth{
    width: 561px;
}
.p2{
    padding-bottom: 80px;
    width: 561px;
}
.submitButton{
    display: flex;
width: 581px;
    height: 54px;

justify-content: center;
align-items: center;

flex-shrink: 0;
border-radius: 40px;
background: #2D39B8;
}
.subButton{
    color: #FFF;
font-family: "Gooper Trial";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal
}
.faqSection{
    display: flex;
    flex-direction: column;
}
.alignstart{
    align-items: start;
}
.padding200{
    padding: 150px 0px;
}
@media (max-width: 1200px) {
.contactForm{
    width: 80%;
    padding: 0px 30px;
}
.nameinput{
    width: 80%;
}
.longerwidth{
    width: 96%;
}.submitButton{
    width: 96%;
}
.p2{
    width: 96%;
}
 .padding200 {
    padding: 80px 0px;
}
 .forvalueCards{
            margin-top: 40px;
    }
}
@media (max-width: 900px) {
    .contactForm{
        flex-direction: column;
        height: auto;
        padding: 50px 0px
    }
    .bigcontcont{
 height: auto;
        padding: 80px 0px;
    }
    .twoinputs{
        justify-content: center;
        align-items: center;
    }
    .nameinput{
    width: 40%;
}
.longerwidth{
    width: 86%;
}.submitButton{
    width: 86%;
}
.p2{
    width: 86%;
}
 
}
@media (max-width: 600px) {
    .bigcontcont{
 height: auto;
        padding: 40px 0px;
    }
     .twoinputs{
       flex-direction: column;
    }
    .nameinput{
        width: 100%;
    }
    .contacttitkle{
        font-size: 24px;
    }
    .contactForm{
        width: 85%;
    }
    .submitButton{
        width: 90%;
    }
    .inputDivholder{
        width: 90%;
    }
    .twoinputs{
           width: 90%;
    }
    .longerwidth{
    width: 90%;}
     .p2{
    width: 90%;}
    .forvalueCards{
        width: 80%;
            margin-top: 40px;
    }
    .padding200 {
    padding: 70px 0px;
}
}