body{
    margin: 0;
    background: #FBF5F5;
}
.featuredprojectsSection{
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
       height: auto;
    gap: 20px;
    padding: 200px 0px;
    padding-top: 220px;
}
.titlewSub{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.for3projects{
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      gap: 20px;
    width: 100%;
    
}
.animate{
    margin-top: 130px;
    position: absolute;
}
.forvideoplacegolder{
    width: 100%;
    background-image: url("../assets/textbg.svg");
    height: 170vh;
    background-size: cover;
}
.imgst{
    width: 100%;
    margin: 0 auto;
    margin-top: -180px;
}
.categories{
    /* display: flex;
    width: 100%;
    height: auto;
    padding: 100px 0px;
    gap: 20px;
    overflow: hidden; */
    display: flex;
    width: 100%;
    /* height: 110vh; */
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0 50px;
    padding-top: 12px;
    
}
.testimonialsSection{
    display: flex;
  height: 140vh;
   flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 30px; */
}
.test1{
     color: #1F266D;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 179.982%; /* 32.397px */
}
.role{
    color: #1F266D;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 179.982%; /* 32.397px */
margin: 0;
}
.namewrole{
    display: flex;
    flex-direction: column;
    
}
.namec{
    color: #1F266D;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 179.982%; /* 35.996px */
margin: 0;
}
.horizontal-scroll-section {
  position: relative;
  height: 200vh; /* this makes the section tall so you can scroll */
}

.categories {
  display: flex;
  position: sticky;
  top: 0;
  height: 100vh;
  align-items: center;
  /* overflow: hidden; */
}


