body{
    margin: 0;
    background: #FBF5F5;
}
.featuredprojectsSection{
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
       height: auto;
    gap: 20px;
    padding: 200px 0px;
    padding-top: 220px;
}
.titlewSub{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.for3projects{
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      gap: 20px;
    width: 100%;
    
}
.animate{
    margin-top: 130px;
    position: absolute;
}