body{
    margin: 0;
    background: #FBF5F5;
}
.featuredprojectsSection{
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
       height: 300vh;
    gap: 20px;
}
.titlewSub{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.for3projects{
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      gap: 20px;
    width: 100%;
    
}