.mockupHolder22{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.mockupText{
  
        padding-top: 115px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
  
}
.for3mockups{
    display: flex;
    gap: 20px;
    justify-content: center;
    /* align-items: center; */
}


.mockTitle{
    color: #1F266D;
text-align: center;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
}
.mockfeature{
    color: #1423BA;
text-align: center;
font-family: "Gooper Trial";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
margin-bottom: 12px;
}
.mockupdes{
    color: #1F266D;
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
}
.mockupText{
  
        padding-top: 115px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
  
}
.gradientdetails{
     width: 100%;
   position: absolute;
   z-index: -1;
      margin-top: -930px;
}
.widthimg{
     width: 13%;
}
.spacer{
    width: 350px;
}
.spacer2{
width: 30%;
}
.fixedimg{
    position: fixed;
    padding-bottom: 70px;
    width: 15%;
    z-index: 1;
}
.featuresSection{
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 100px;
}
.forcenteredTitles{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
        justify-content: center;
    align-items: center;
}
.animatecircle{
 margin: 0 auto;
 margin-top: 20px;
}
.animatewhite{
      margin-top: 70px;
    position: absolute;
}
.featuresTitle{
    color: #FFF;
text-align: center;
font-family: "Gooper Trial";
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.imgwpg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.firstcont{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.custom-class2{
    color: white;
}
