.heads{
 padding-top: 24px;
    width: 100%;
}
.topics{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
        gap: 140px;
            margin-bottom: 10px;
   
}
.workbg{
      width: 100%;
    position: absolute;
    z-index: -1; 
}
.textwcards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.gap5 {
    margin-top: 50px;
    padding-bottom: 100px;}
    .forallcards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 38px; */
}